# ignore
www.default
ant-build
ant-gen
platforms/android/gen
platforms/android/bin
platforms/android/assets/www
platforms/android/CordovaLib/bin
platforms/ios/build
platforms/ios/www
platforms/ios/JumpRope.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store

