@font-face {
  font-family: 'Joti One';
  font-style: normal;
  font-weight: 400;
  src: local('Joti One'), local('JotiOne-Regular'), url(lib/jotione.woff) format('woff');
}

@font-face {
  font-family: 'Combo';
  font-style: normal;
  font-weight: 400;
  src: local('Combo'), local('Combo-Regular'), url(lib/combov1.woff) format('woff');
}

* {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
}
div, table, td, p, span, button, img {
	-webkit-user-select: none;
}
*::selection {
    background:transparent;
}

*::-moz-selection {
    background:transparent;
}

*::-webkit-selection {
    background:transparent;
}
*::-webkit-scrollbar { 
    display: none; 
}

html, body, div.page, table {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: serif, Arial;
	background-color: white;
}

html, body, div, canvas {
	margin: 0;
	padding: 0;
}

.m {
	text-align: center;
	vertical-align: middle;
}

.l {
	text-align: left;
}

.r {
	text-align: right;
}

.t {
	vertical-align: top;
}

.b {
	vertical-align: bottom;
}

.visible {
	display: block;
}

.invisible {
	display: none;
}

.round {
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.shadow {
	-webkit-box-shadow:5px 5px 10px black;
	-moz-box-shadow:5px 5px 10px black;	
}

.clickable {
	cursor:pointer;
}

.full {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}

.draw {
	border:1px solid black;	
}

.data {
	font-family: 'Joti One', serif, Arial;
	font-size:24px;
	color: blue;
}

.datacell {
	border: 1px solid silver;
	border-bottom: 5px solid silver;
}

.selectcell {
	text-align: right;
	vertical-align: bottom;
	cursor: pointer;
	border: 1px solid silver;
	border-bottom: 5px solid silver;
}

.selected {
	background-color: #99ff99;
	border: 1px solid green;
	border-bottom: 5px solid green;
}

.unit {
	font-size: 16px;
}

.btn {
	cursor:pointer;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
	
	font-size: 24px;
	background-color: pink;
	border: 1px solid black;
}

.topbtn {
	height: 48px;
}

.tips {
	font-size: 24px;
	color: green;
}

.title2 {
	font-family: 'Joti One', serif, Arial;
	font-size: 20px;
	color: green;
}

.title {
	font-family: 'Joti One', serif, Arial;
	font-size: 28px;
	font-weight: bold;
	color: blue;
}

img.splash {
	width: 300;
}